body {
  background: linear-gradient(to right, #0062e6, #33aeff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* to make it center of the webpage */
.App {
  display: flex;
  flex-wrap: wrap;
}
.card-content {
  border-radius: 1.5rem;
  background-color: white;
  width: auto;
  margin: 10px;
}
h6 {
  font-size: 3rem;
  margin: 0;
}
.card-head {
  border-bottom: 1px solid whitesmoke;
}
li {
  list-style: none;
  margin-bottom: 1rem;
}
.period {
  font-size: 0.8rem;
}
.text-muted {
  opacity: 0.7;
}
/* styling anchor tag */
.btn {
  font-size: 80%;
  display: flex;
  justify-content: center;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  margin: 5px;
}
/* for hover in desktop view */
@media (min-width: 992px) {
  .card-content:hover {
    margin-top: -0.25rem;
    margin-bottom: auto;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .buy:hover .btn {
    opacity: 1;
  }
}
@media (max-width: 861px) {
  body {
    height: auto;
  }
}
